.App {
  text-align: center;
  color: #EEEEEE;
  background-color: #303841;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* NAV */

/* HOME */
/* HOW TO */
/* RESULTS */
/* COMMENT FORM */
/* COMMENT FEED */
/* PLAY */
/* FOOTER */

/* MEDIA Query */
@media screen and (max-width: 768px) {
  /* NAV */
  nav {
    flex-direction: column;
    margin-bottom: 35px;
  }

  nav a, nav span {
    font-size: 30px;
    margin-top: 20px;
  }

  nav .full-text {
    font-size: 75px;
    margin: 10px 0px 10px 0px;
  }

  .menu-items {
    margin-top: 25px;
  }
  
  
}

@media screen and (max-width: 600px) {
  /* NAV */
  nav .full-text {
    display: none;
  }

  nav .short-text {
    display: inline-block;
    font-size: 70px;
  }

  /* RESULTS */
  .results-container {
    overflow-x: scroll;
    height: 515px;
    width: auto;
  }
}