footer {
  padding: 15px 5px;
  font-family: 'Luckiest Guy', cursive;
}

footer a {
  margin: 5px;
  color:#EEEEEE;
  transition: all 0.2s ease-in-out;
  
}
footer a:hover {
  color: #ff5722;
}

footer p {
  word-spacing: 2px;
  letter-spacing: 2px;
}