.how-to {
  margin: 0 auto;
  padding: 5px 10px;
}
.how-to h2,.how-to h3 {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 1px;
}

.how-to p{
  font-size: 18px;
}
.what-is, .where-at{
  text-align: left;
  margin: 35px auto;
}

.how-do {
  text-align: right;
  margin: 55px auto;
}