.wyr {
  margin-bottom: 5px;
  padding: 5px;
  font-family: 'Luckiest Guy', cursive;
}
.results-title {
  font-weight: bold;
}

.description {
  padding-top: 10px;
  font-size: 20px;
}

.join {
  font-family: 'Raleway', sans-serif;
  text-shadow: none;
  border: none;
  position: absolute;
  bottom: 0;
  left: 15px;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
}
.question-result {
  max-width: 300px;
  height: auto;
  padding: 10px;
  margin: 10px;
}

.card-header {
  padding: 5px;
  height: 480px;
  width: auto;
  position: relative;
}

canvas {
  padding-top: 15px;
}

.comment-feed{
  height: 200px;
  width: auto;
  overflow-y: scroll;
}